.navbar {
  background: #0054a6;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  padding: 0 40px;
  position: relative;
  border-bottom: 3px solid #ffd602;
}

ul.navbar-nav {
  margin-left: auto;
}
li.nav-item {
  margin-right: 31px;
}
a.nav-link {
  font-family: Helvetica Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
}
a.nav-link:hover {
  color: #fff;
}
.navbar-brand {
  position: relative !important;
  z-index: 1;
  margin-bottom: -32px;
}
